/** PositionalAxis.scss */

.av2-metadata-box{

  .metadata-tab-bar.hidden{
    //display: none;
    visibility: hidden;
    opacity: 0;
    //transition: opacity 200ms ease-in, visibility 0ms ease-in 250ms;
  }
  .metadata-tab-bar{
    display: flex;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    visibility: visible;
    opacity: 1;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
    transition: opacity 250ms ease-out, visibility 250ms ease-out;

    position: absolute;
    right: 0px; 
    left: 0px;
    border-bottom: solid black 1px;

    background: linear-gradient(0deg, rgba(255,255,255,100) 70%, rgba(255,255,255,0));

    .tab-holder{
      text-align: center;
      padding: 0 2px;
      margin: 0;
      height:50%;

      button{
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        text-align: center;
        border: #c9c9c9 solid 1px;
        border-bottom: black solid 1px;
        margin-top: 1px;
        padding: 0 .7em 0 .7em;
        background-color: #f2f2f2;
        height:100%;
        cursor: pointer;
      }
      button.selected{
        border: black solid 1px;
        border-bottom: white solid 1px;
        //border-bottom-width: 0px;
        //border-bottom: white solid 1px;
        background-color: white;
        cursor:default;
      }
    }
  }

  .no-annotations-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .av2-sequence-names {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
      monospace;
    white-space: nowrap;
    font-weight: normal;
  
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .virtualized-sequence-name{
      pointer-events: none;
      user-select: none;

      position: absolute;
      top: 0;
      left: 0;
    }

    .hidden-sequence-names-for-copy-paste{
      pointer-events: all;
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(0, 0, 0, 0);
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
}
//.alignment-textual-metadataaxis::-webkit-scrollbar {
//  background: transparent;
//  height: 0;
//}
