/** WebGLAlignmentComponent.scss */

// make scrollbar transparent on query and consensus sequences
.query-alignment-details .av2-viewport::-webkit-scrollbar,
.consensus-alignment-details .av2-viewport::-webkit-scrollbar {
  background: transparent;
  height: 0;
}

.av2-viewport .canvas-holder.hidden canvas {
  display: none;
}

.av2-viewport {
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  canvas {
    position: absolute;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  }

  .sequence-text-holder {
    position: absolute;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
      monospace;
    white-space: nowrap;

    .letters-with-specific-color {
      position: absolute;
      top: 0;
      left: 0;

      //disallow selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
    }
  }
  .hidden-residues-for-copy-paste {
    position: absolute;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
      monospace;
    white-space: nowrap;
    
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0);
    pointer-events: all;
  }
}
