/** WebGLAlignmentComponent.scss */

.alignment-details-holder .viewport {
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  canvas.stage {
    position: relative;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  }
  .sequence-text-holder {
    position: absolute;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
      monospace;
    white-space: nowrap;

    .letters-with-specific-color {
      position: absolute;
      top: 0;
      left: 0;
    }
    .hidden-residues-for-copy-paste {
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(0, 0, 0, 0);
    }
  }
}

.vertical-scrollbar-holder {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(256, 256, 256, 0.8);

  .vertical-scrollbar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.vertical-scrollbar-fullpage-drag {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
