/** AlignmentViewer.scss */
.alignment-viewer.annotation-closed .av-widget .av-annotation {
  display: none;
}

.alignment-viewer {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  //single row editors
  .av-widget.consensus-seq-holder,
  .av-widget.query-seq-holder,
  .av-widget.position-indicator-holder {
    height: 24px; //default, but this is set as a style
  }

  //the main editor
  .av-widget.alignment-details-holder {
    flex-grow: 4;
  }

  .av-widget {
    display: flex;
    margin: 2px 4px;

    .av-annotation,
    .av-content {
      display: flex;
    }
    .av-annotation {
      flex: 0 1 15%;
      justify-content: flex-end;
      align-items: center;

      // bit of a hack to put space between annotation and content
      margin-right: 12px;
      font-weight: bold;
      font-size: 14px; //default, but this is set as a style
    }

    .av-content {
      flex: 1 0 85%; //annotations take up 15%
      position: relative;
      align-items: center;
      overflow: hidden;
    }
  }
}
