/** AlignmentViewer.scss */
$annotationContentRightGapSize: 20px;
$aceEditorLineHeight: 20px;

.alignment-viewer.annotation-closed .av-widget .av-annotation {
  display: none;
}

.alignment-viewer {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  //single row ace editors
  .av-widget.av-consensus-seq-holder,
  .av-widget.av-query-seq-holder,
  .av-widget.av-position-indicator-holder {
    height: $aceEditorLineHeight;

    .ace_editor {
      line-height: $aceEditorLineHeight;
    }
  }

  //the main ace editor
  .av-widget.av-ace-msa-holder {
    flex-grow: 4;
  }

  .av-widget {
    display: flex;
    padding: 4px 8px;

    .av-annotation,
    .av-content {
      display: flex;
      overflow: auto;
    }
    .av-content::-webkit-scrollbar {
      background: transparent; // make scrollbar transparent
      height: 0;
    }
    .av-annotation {
      flex: 0 1 15%;
      justify-content: flex-end;
      align-items: center;
      // bit of a hack to put space between annotation and content
      margin-right: $annotationContentRightGapSize;
      font-weight: bold;
      text-align: right;
      position: relative;
    }

    .av-content {
      flex: 1 0 85%; //annotations take up 15%
      position: relative;
      align-items: center;
    }

    .ace_editor {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
}
