/** AlignmentViewer.scss */
.alignment-viewer.annotation-closed .av2-widget{
  .av2-title-or-annotation,
  .av2-title-resize-separator{
    display: none;
  }
}

.alignment-viewer {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .full-screen-annotation-resize-dragger{
    position: fixed;
    left: 0;
    top: 0; 
    right: 0; 
    bottom: 0;
    opacity: 0;
    background-color: white;
    z-index: 100000;
    cursor: col-resize;
  }

  //single row editors
  .av2-widget.av2-consensus-seq-render,
  .av2-widget.av2-query-seq-render,
  .av2-widget.av2-position-indicator-render {
    height: 24px; //default, but this is set as a style
  }

  //the main editor
  .av2-widget.av2-alignment-details-render {
    flex-grow: 4;
  }

  .av2-widget {
    display: flex;
    //margin: 2px 4px;

    .av2-title-resize-separator{
      //background: red;
      width: 4px;
      border-left: solid #f2f2f2 1px;
      border-right: solid #f2f2f2 1px;
      margin-left: 5px;
      margin-right: 5px;
    	cursor: ew-resize;
      //background-image: url(
       // "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='%23c4c4c4'/></svg>"
      //);
    }

    .av2-title-or-annotation,
    .av2-content-holder {
      display: flex;
      position: relative;
    }
    .av2-title-or-annotation {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 220px;
      justify-content: flex-end;
      align-items: center;

      // bit of a hack to put space between annotation and content
      //margin-right: 12px;
      font-weight: bold;
      font-size: 14px; //default, but this is set as a style
    }

    .av2-content-holder {
      flex: 1 0; //annotations take up 15%
      position: relative;
      align-items: center;
      overflow: hidden;

      .av2-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
