/** MiniMap.scss */

.minimap-holder {
  z-index: 100000;
  top: 0;
  bottom: 0;
  background-color: white;
  border-color: #333333;
  border-style: solid;

  overflow: hidden; //needed for resize handle (set as style in react)
  min-width: 100px;

  .alignment-canvas {
    text-align: center;
  }
}

.minimap-holder canvas {
  transform: translate3d(0, 0, 0);
}
