/** SequenceBarplot.scss */

.barplot .barplot-tooltip-container {
  margin: 0;

  .bar-position-textblock {
    h1 {
      padding-bottom: 4px;
      margin: 0;
      font-size: 14px;
    }
    .dataseries-line {
      line-height: 16px;
      font-size: 13px;
    }
    .legend-square {
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-right: 6px;
    }
  }
}

.barplot {
  svg {
    .position-container rect.interaction-placeholder {
      fill-opacity: 0;
      stroke: none;
    }
  }
}

//
//users should override what is below to change bar colors
//

.barplot svg rect.barplot-conservation {
  fill: #414141;
  color: #414141;
}
.bar-position-textblock .barplot-conservation .legend-square {
  background-color: #414141;
}

.barplot svg rect.barplot-shannon-entropy {
  fill: #000000;
  color: #000000;
}
.bar-position-textblock .barplot-shannon-entropy .legend-square {
  background-color: #000000;
}

.barplot svg rect.barplot-gaps {
  fill: #b7b7b7;
  color: #b7b7b7;
}
.bar-position-textblock .barplot-gaps .legend-square {
  background-color: #b7b7b7;
}

.barplot svg rect.barplot-kullback-leibler-divergence {
  fill: darkred;
  color: darkred;
}
.bar-position-textblock .barplot-kullback-leibler-divergence .legend-square {
  background-color: darkred;
}
