/** SequenceBarplotComponent.scss */

.barplot.hovered .barTooltip {
  display: block;
}
.barplot .barTooltip {
  position: absolute;
  font-size: 10px;
  background: white;
  display: none;
}

.barplot.hovered .legend {
  display: block;
}
.barplot .legend {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 1px black;
  position: absolute;
  padding: 3px;
  top: 0;
  right: 0;
  z-index: 1000;
}

.barplot svg rect {
  cursor: pointer;
}

.barplot svg .barplot-entropy rect.selected,
.barplot svg .barplot-gaps rect.selected,
.barplot svg .barplot-category3 rect.selected {
  fill: red;
}
.barplot .legend .barplot-entropy,
.barplot svg .barplot-entropy rect {
  fill: #000000;
  color: #000000;
}
.barplot .legend .barplot-gaps,
.barplot svg .barplot-gaps rect {
  fill: #b7b7b7;
  color: #b7b7b7;
}
.barplot .legend .barplot-category3,
.barplot svg .barplot-category3 rect {
  fill: green;
  color: green;
}
