/** WebGLAlignmentScrollbarComponent.scss */

.vertical-scrollbar-holder {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(256, 256, 256, 0.8);

  .vertical-scrollbar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.vertical-scrollbar-fullpage-drag {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
