/** App.scss */

body {
  //stop the bouncy at the bottom of a scroll - since the webgl component
  //is only showing a fraction of the alignment, this is irritating when
  //trying to "fake scroll" through the alignment
  //TODO: figure out if this can be done on the element (like msa viewer)
  overscroll-behavior-y: none;

  //stop the back button swipe, which happens often when going to the start of
  //the alignment
  overscroll-behavior-x: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .app-header {
    padding: 5px;
    height: 120px;
    position: relative;

    display: flex; // make us of Flexbox
    justify-content: center; // horizontally centers single line items

    .settings-box {
      font-size: 11px;
      margin: auto;
      width: 450px;
      border: 2px solid black;
      padding: 15px;
      position: absolute;
      z-index: 500;
      background-color: white;

      h3,
      h4 {
        text-align: center;
      }
      h3 {
        margin-bottom: 0;
      }
      h4 {
        margin-top: 0;
      }

      .settings-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 8px 0;

        h2 {
          margin: 0;
          display: inline-block;
          order: 1;
          flex-grow: 4;
          font-size: 2em;
        }
        a.github-link {
          order: 2;
          font-size: 0;
          padding-right: 10px;
        }
        button {
          order: 3;
          font-size: 0;
          padding: 0;
        }
      }

      .settings-content {
        position: relative;

        label strong {
          width: 200px;
          display: inline-block;
        }
        label select,
        label .zoom-level {
          width: 200px;
          display: inline-block;
        }

        .examples button.button-link {
          border: 1px solid transparent;
        }

        .load-error {
          color: red;
        }
      }
    }
  }

  .app-content {
    position: relative;
    flex: 1;
  }
}

button.button-link {
  background: none !important;
  border: none;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}

.loader {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
