/** App.scss */

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .app-header {
    padding: 5px;
    height: 120px;
    position: relative;

    display: flex; // make us of Flexbox
    justify-content: center; // horizontally centers single line items

    .settings-box {
      font-size: 11px;
      margin: auto;
      width: 450px;
      border: 2px solid black;
      padding: 15px;
      position: absolute;
      z-index: 500;
      background-color: white;

      h2,
      h3,
      h4 {
        text-align: center;
      }
      h2 {
        padding-top: 0;
        margin-top: 0;
      }
      h3 {
        margin-bottom: 0;
      }
      h4 {
        margin-top: 0;
      }

      .settings-header {
        position: relative;
        button {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .settings-content {
        position: relative;

        label strong {
          width: 200px;
          display: inline-block;
        }
        label select,
        label .zoom-level {
          width: 200px;
          display: inline-block;
        }

        .examples button.button-link {
          border: 1px solid transparent;
        }

        .load-error {
          color: red;
        }
      }
    }
  }

  .app-content {
    position: relative;
    flex: 1;
  }
}

button.button-link {
  background: none !important;
  border: none;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}

.loader {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
