/** App.scss */
@use "./MolecularStyles.module.scss";

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 40px 40px 30px 700px;
  grid-gap: 5px;
  padding: 10px;
  position: relative;
}

.testing_box {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.alignment_box {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 6;
}

.ace_content {
  cursor: auto;
}

/**
 * Conservation / Entropy / Gap plots
 */
.conservation_box {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  /*border:solid yellow 1px;*/
}
#sequence_conservation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: scroll;
}
#sequence_conservation .svg_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
svg.conservation .gapCount rect {
  fill: #b7b7b7;
}
svg.conservation .entropy rect {
  fill: #000000;
}

/**
 * Logo plot
 */
.logo_box {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  /*border:solid blue 1px;*/
}
.logo_box #sequence_logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: scroll;
}

/**
 * Position indicator
 */
.position_box {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}
.position_box #ace-positions {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding-left: 3px;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

/**
 * Query Sequence
 */
.queryseq_box {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.queryseq_box #ace-queryseq {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding-left: 3px;
  overflow: scroll;
  overflow-x: hidden;
}

/**
 * Consensus Sequence
 */
.consensusseq_box {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}
.consensusseq_box #ace-consensusseq {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding-left: 3px;
  overflow: scroll;
  overflow-x: hidden;
}

/**
 * Individual sequence data as well as the MSA as a canvas in WebGL
 */
.datatable_box {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6;
  overflow: scroll;
}

/**
 * Full ace alignment
 */
.alignment_box #ace-alignment {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  visibility: hidden;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  z-index: 10;
}
.alignment_box #ace-alignment.loaded {
  visibility: visible;
}

/**
 * Interaction indicators
 */
#column_mouseover {
  position: absolute;
  display: none;
  pointer-events: none;
  height: 1050px;
  z-index: 1000;
  border: solid 2px purple;
}
